 body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }

  .banner{
	  background-image: url("./images/building.jpeg") !important;
	  background-size: cover !important;
	  background-position: center center !important;
  }

  .contentBlock{
	  background-color: #F2C318 !important;
  }

  .menu{
    background-color: #201544 !important;
    color: #FFFFFF !important;
  }
  